.container {
  padding: 128px 165px;
  min-height: calc(100vh - 95px - 40px);
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero{
  max-width: 1110px;
  display: flex;
  gap: 66px 30px;
}

.textContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}


.buttonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: 1024px) {
  .container{
    padding: 128px 40px;
  }

  .hero{
    flex-direction: column;
  }

  .textContainer{
    max-width: 512px;
    align-items: center;

    .description{
      text-align: center;
    }
  }

  .buttonContainer{
    flex-direction: column;
  }
}


@media (max-width: 1024px) {
  .paragraph{
    text-align: center;
  }
}

@media (max-width: 750px) {
  .container{
    padding: 24px;
  }
}

@media (max-width: 550px) {
  .container{
    flex-direction: column;
    height: 100%;
  }
  .hero{
    height: 100%;
    gap: 0;
  }
  .textContainer{
    height: 100%;
  }
  .buttonContainer{
    height: 100%;
    justify-content: center;
  }
}